{% if commit %}
<div style="margin-bottom:1em;;border:1px solid #C5D5DD;-webkit-border-radius:5px;-moz-border-radius:5px;background: #fff;">
    <div style="padding:0.5em;background-color:#E4F1F6;border-bottom:1px solid #C5D5DD;">{{commit.getAuthor().time.format('Y-m-d h:i:s')}} <a href="{{ path('ChobieGit2RepositoryBrowserBundle_commit',{repository_name : repository_name, commit_id: commit.getOid }) }}">{{ commit.getOid() }}</a></div>
    <div style="padding:0.5em" class="row">
        <span class="span1"><img src="http://www.gravatar.com/avatar/{{ commit.getAuthor().email|md5 }}?s=45" /></span>
        <span class="span10">
            {% if show_parents %}<div style="text-align:right">{{ commit.getParentCount() }} parent: {% for c in commit.getParents %}<a href="{{ path("ChobieGit2RepositoryBrowserBundle_commit", {repository_name: repository_name, commit_id: c.getOid}) }}" data-pjax="#main">{{ c.getOid |truncate(10) }}</a>&nbsp;{% endfor %}</div>{% endif %}
            <pre>{{ commit.getMessage | markdown }}</pre></span>


    </div>
</div>
{% endif %}