
<ul class="nav nav-tabs">
    <li class="active"><a href="#">source</a></li>
    <li><a href="{{ path('ChobieGit2RepositoryBrowserBundle_commits', { repository_name : repository_name}) }}">commits</a></li>
    <li><a href="{{ path('ChobieGit2RepositoryBrowserBundle_branches', { repository_name: repository_name}) }}">branches ({{ branch_count }})</a></li>
    <li><a href="{{ path('ChobieGit2RepositoryBrowserBundle_tags', {repository_name: repository_name}) }}">tags ({{ tags_count }})</a></li>
</ul>

<div>
    HTTP<input type="text" value="http://localhost:8081/{{ repository_name }}.git" />
</div>

{% if commit %}
<div style="margin-bottom:1em;;border:1px solid #C5D5DD;-webkit-border-radius:5px;-moz-border-radius:5px;background: #fff;">
    <div style="padding:0.5em;background-color:#E4F1F6;border-bottom:1px solid #C5D5DD;">{{commit.getAuthor().time.format('Y-m-d h:i:s')}} <a href="{{ path('ChobieGit2RepositoryBrowserBundle_commit',{repository_name : repository_name, commit_id: commit.getOid }) }}">{{ commit.getOid() }}</a></div>
    <div style="padding:0.5em" class="row">
        <span class="span1"><img src="http://www.gravatar.com/avatar/{{ commit.getAuthor().email|md5 }}?s=45" /></span>
        <span class="span10"><pre>{{ commit.getMessage | markdown }}</pre></span>
    </div>
</div>

{% endif %}