<table class="table table-striped">
    <tr>
        <th>name</th><th>age</th><th>message</th>
    </tr>
    {% for entry in tree %}
    <tr>
        {% if entry.isSubmodule() %}
        <td><img src="{{ asset("bundles/chobiegit2repositorybrowser/images/icons/folder_go.png") }}" />{{entry.name}}</td>
        <td></td>
        <td></td>
        {% elseif entry.isTree() %}
        <td><img src="{{ asset("bundles/chobiegit2repositorybrowser/images/icons/folder.png") }}" /><a href="{{ path('ChobieGit2RepositoryBrowserBundle_tree',{repository_name: repository_name, name: dirname ~ entry.name, refs: refs}) }}" data-pjax="#main">{{ entry.name }}</a></td>
        <td>{{ meta[entry.name].getAuthor().time.format('Y-m-d H:i:s') }}</td>
        <td>{{ meta[entry.name].getMessage() | truncate(70) }}</td>
        {% elseif entry.isBlob() %}
        <td><img src="{{ asset("bundles/chobiegit2repositorybrowser/images/icons/page_white_text.png") }}" /><a href="{{ path('ChobieGit2RepositoryBrowserBundle_blob', {repository_name: repository_name,name: dirname ~ entry.name, refs: refs }) }}" data-pjax="#main">{{entry.name}}</a></td>
        <td>{{ meta[entry.name].getAuthor().time.format('Y-m-d H:i:s') }}</td>
        <td>{{ meta[entry.name].getMessage() | truncate(70) }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
