
<ul class="nav nav-tabs">
    <li {% if active == "source" %}class="active"{% endif %}><a href="{{ path('ChobieGit2RepositoryBrowserBundle_tree_index', {repository_name: repository_name, refs: refs}) }}">source</a></li>
    <li {% if active == "commit" %}class="active"{% endif %}><a href="{{ path('ChobieGit2RepositoryBrowserBundle_commits', { repository_name : repository_name, refs: refs}) }}">commits</a></li>
    <li {% if active == "branches" %}class="active"{% endif %}><a href="{{ path('ChobieGit2RepositoryBrowserBundle_branches', { repository_name: repository_name}) }}">branches ({{ branch_count }})</a></li>
    <li {% if active == "tags" %}class="active"{% endif %}><a href="{{ path('ChobieGit2RepositoryBrowserBundle_tags', {repository_name: repository_name}) }}">tags ({{ tags_count }})</a></li>
</ul>

<div style="margin:0.5em;">
    <input type="button" class="btn" value="HTTP" /><input type="text" class="input-xlarge" value="http://localhost:8081/{{ repository_name }}" />
</div>
